<%= form_for(@recipe_recipe) do |f| %>
    <% if @recipe_recipe.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@recipe_recipe.errors.count, "error") %> prohibited this recipe_recipe from being saved:</h2>

            <ul>
                <% @recipe_recipe.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :beer %><br />
        <%= f.collection_select(:beer_id, Beer.all, :id, :name, :prompt => true) %>
    </div>
    <div class="field">
        <%= f.label :type %><br />
        <%= f.collection_select(:type_id, Recipe::Type.all, :id, :name, :prompt => true) %>
    </div>
    <div class="field">
        <%= f.label :directions %><br />
        <%= f.text_area :directions %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
