<h1>Listing recipe_recipes</h1>

<table>
    <tr>
        <th>Beer</th>
        <th>Directions</th>
        <th>Recipe type</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <% @recipe_recipes.each do |recipe_recipe| %>
        <tr>
            <td><%= recipe_recipe.beer.name %></td>
            <td><%= recipe_recipe.directions %></td>
            <td><% unless recipe_recipe.type.nil?%><%= recipe_recipe.type.name %><% end %></td>
            <td><%= link_to 'Show', recipe_recipe %></td>
            <td><%= link_to 'Edit', edit_recipe_recipe_path(recipe_recipe) %></td>
            <td><%= button_to 'Destroy', recipe_recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_recipe_path %>
