<h1>Listing ingredients_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredients_categories.each do |ingredients_category| %>
  <tr>
    <td><%= ingredients_category.name %></td>
    <td><%= ingredients_category.description %></td>
    <td><%= link_to 'Show', ingredients_category %></td>
    <td><%= link_to 'Edit', edit_ingredients_category_path(ingredients_category) %></td>
    <td><%= button_to 'Destroy', ingredients_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_ingredients_category_path %>
