<%= form_for(@ingredients_ingredient) do |f| %>
    <% if @ingredients_ingredient.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ingredients_ingredient.errors.count, "error") %> prohibited this ingredients_ingredient from being saved:</h2>

            <ul>
                <% @ingredients_ingredient.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
    </div>
    <div class="field">
        <%= f.label :category %><br />
        <%= f.collection_select(:category_id, Ingredients::Category.all, :id, :name, :prompt => true) %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
