<p id="notice"><%= notice %></p>

<p>
    <b>Ingredient:</b>
    <%= @ingredients_ingredient.name %>
</p>

<p>
    <b>Description:</b>
    <%= @ingredients_ingredient.description %>
</p>

<p>
    <b>Category:</b>
    <% unless @ingredients_ingredient.category.nil? %>
        <%= @ingredients_ingredient.category.name %>
    <% end %>
</p>

<%= link_to 'Edit', edit_ingredients_ingredient_path(@ingredients_ingredient) %> |
<%= link_to 'Back', ingredients_ingredients_path %>
