<!DOCTYPE html>
<html>
<head>
  <title>CloneBrew</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body class="nihilo">
   <p class="notice" style="display:none;"><%= notice %></p>
   <p class="alert" style="display:none;"><%= alert %></p>
   
<%= yield %>

</body>
</html>
